<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TextNG Examples">
    <test name="Class Execution">
        <classes>
            <class name="testngdemo.FirstTestingTest"></class>
        </classes>
    </test>
    
    <test name="Package Execution">
        <packages>
            <package name="testngdemo"></package>
        </packages>
    </test>
    
</suite>